<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemon.nome %></title>
    <link rel="stylesheet" href="/css/pokemon.css">
</head>
<body>
    
     <!--header/cabecalho -->

     <header>
        <div class="cabecalho">
            <a href="/">
                <img src="/imgs/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
            </a>
  
            <nav>
                <p><a href="/">Início</a></p>
                <p><a href="/">Cadastrar Pokemon</a></p>
            </nav>
        </div>
      </header>

      <div class="pokemon-card" data-tipo="<%= pokemon.tipo %>">
        <h2><%= pokemon.nome %></h2>
        <p>Tipo: <%= pokemon.tipo %></p>
        <p>Peso: <%= pokemon.peso %> kg</p>
        <p>Altura: <%= pokemon.altura %> m</p>
        <p>Nível de Poder: <%= pokemon.lvlPoder %></p>
    </div>
    

</body>
</html>